{% load static %}
<!DOCTYPE html><!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Add Student</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FontAwesome JS-->
    <script defer src="{% static 'plugins/fontawesome/js/all.min.js' %}"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'css/portal.css' %}">

</head> 

<body class="app">

    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">			    
			    <h1 class="app-page-title text-success"><span class="nav-icon"><i class="fa fa-user"></i></span> Add Student</h1>
			    <hr class="mb-4">
                <div class="row g-4 settings-section">
	                <div class="col-12 col-md-8">
		                <div class="app-card app-card-settings shadow-sm p-4">
						    
						    <div class="app-card-body">
							    <form class="settings-form" method="post">
                                    {% csrf_token %}
									<div class="mb-3">
									    <label for="setting-input-2" class="form-label">Full Name</label>
									    <input type="text" class="form-control" id="setting-input-2" value="" required>
									</div>
								    <div class="mb-3">
									    <label for="setting-input-3" class="form-label">ID Number</label>
									    <input type="number" class="form-control" id="setting-input-3" value="">
									</div>
								    <div class="mb-3">
									    <label for="setting-input-3" class="form-label">Password</label>
									    <input type="password" class="form-control" id="setting-input-3" value="">
									</div>
								    <div class="mb-3">
									    <label for="setting-input-3" class="form-label">Class</label>
									    <input type="text" class="form-control" id="setting-input-2" value="" required>
									</div>
									<button type="submit" class="btn app-btn-primary" >Save</button>
							    </form>
						    </div><!--//app-card-body-->
						    
						</div><!--//app-card-->
	                </div>
                </div><!--//row-->

			    <hr class="my-4">
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    
    </div><!--//app-wrapper-->    					

 
    <!-- Javascript -->          
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
    
    <!-- Page Specific JS -->
    <script src="{% static 'js/app.js' %}"></script> 

</body>
</html> 

